
/*muestras*/

.muestras {
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__img img {
    margin: 40px;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px #ffc6c67a;
  }

  &__espaciado {
    margin-bottom: 100px;
  }
}

@media (max-width: 720px) {
  .muestras {
    &__container {
      margin: 5px;
    }

    &__espaciado {
      margin-bottom: 5px;
    }
    &__espaciado--ultimo {
      margin-bottom: 100px;
    }
  }
}