
/*muestras*/

.muestras {
  &__container {
    @include containers-row;
  }

  &__img img {
    margin: 40px;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px #ffc6c67a;
    -webkit-transition: .3s linear;
    transition: .3s linear;

    &:hover{
      -webkit-box-shadow: 10px 10px 14px 2px $primary-color;
      box-shadow: 10px 10px 14px 2px $primary-color;
    }
  }

  &__espaciado {
    margin-bottom: 100px;
  }
}

@media (max-width: 720px) {
  .muestras {
    &__container {
      margin: 5px;
    }

    &__espaciado {
      margin-bottom: 5px;
    }
    &__espaciado--ultimo {
      margin-bottom: 100px;
    }
  }
}