
    <section class="footer container-fluid text-center footer-productos">
        <div class="footer__info row row-cols-3">
            <div class="footer__info--div col">
                <p class="footer__p">Términos y condiciones</p>
                <p class="footer__p privacidad">políticas de privacidad</p>
            </div>

            <div class="footer__info--div col">
                <a href="#header">
                    <img class="footer__arrow" src="../assets/img/arrow.png" alt="flecha arriba">
                </a>
            </div>

            <div id="redes" class="footer__info--div col">
                <a href="https://www.instagram.com/mianstamper/" target="_blank">
                    <img id="redes" src="../assets/img/instagram.png" alt="instagram">
                </a>
                <a href="https://www.tiktok.com" target="_blank">
                    <img id="redes" src="../assets/img/tiktok.png" alt="tiktok">
                </a>
            </div>
                
            <div class="footer__info--div col">
                <p class="footer__p apartado">número de contacto</p>
                <p class="footer__p">11 5644-7527</p>
            </div>

            <div class="footer__info--div col">
                <p class="footer__p apartado">©copyright</p>
                <p class="footer__p">Hecho por Dariana B.</p>
            </div>

            <div class="footer__info--div col">
                <p class="footer__p apartado">mail de contacto</p>
                <p class="footer__p">mianstamper@gmail.com</p>
            </div>
        </div>
    </section>