<!--header-->

        <nav>
            <div class="logo">
                <a href="../index.html">
                    <img src="../assets/img/logomianstamper.png" alt="logo mian stamper">
                </a> 
            </div>
    
            <input type="checkbox" name="check" id="check">
            <label for="check" class="bar-btn">
                <img src="../assets/img/menu.png" alt="menu">
            </label>
    
            <ul class="nav-menu">
                <li><a href="../index.html">inicio</a></li>
                <li><a href="../pages/productos.html">productos</a></li>
                <li><a href="../pages/muestras.html">muestras</a></li>
                <li><a href="../pages/sobremi.html">sobre mi</a></li>
                <li><a href="../pages/contacto.html">contacto</a></li>
            </ul>
        </nav>