* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: "inkfree" ;
    src: url(../fonts/inkfree.TTF);
}

@font-face {
    font-family: "mellyhonney";
    src: url(../fonts/mellyhonney.otf);
}


/*header*/

header {
    width: 100%;
    background-image: url(../img/fondomian1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 90px;
    margin-left: 20px;
}

.bar-btn {
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: #420000bc;
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: #ffc6c6;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.nav-menu li a.active, .nav-menu li a:hover {
    color: #420000;
    transition: .3s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

@media (min-width:720px) {
    .logo {
        margin-left: 50px;
    }

    nav {
        height: 80px;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
        padding-top: 10px;
    }

    .nav-menu li a {
        font-size: 15px;
        color: #dc2f36;
    }

}


h1 {
    text-align: center;
    color:#420000;
    padding-top: 140px;
    font-family: "mellyhonney";
    font-size: 150px;
    font-weight: 100;
}

h3 {
    color: #dc2f36;
    font-family: "inkfree";
    font-size: 35px;
    text-align: center;
    font-weight: 800;
}

@media (max-width: 720px) {
    h1 {
        font-size: 115px;
        padding-top: 80px;
    }

    h3 {
        font-size: 25px;
    }
}

.inicio {
    height: 500px;
    background-position: 90%;
}

/*css de paginas secundarias*/

.nav__otras-paginas {
    background-image: none;
    background-color: #ffc6c67a;
}

.miniheader {
    display:flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.miniheader li {
    padding-top: 30px;
    color: #420000;
}

.miniheader li a {
    text-decoration: none;
    color: #dc2f36;
}

.miniheader li a:hover {
    color: #ffc6c6;
}

.miniheader__info::after {
    content: "/";
    padding: 10px;
}

.miniheader__titulo {
    padding-top: 5px;
}

/*main*/



.info__envios {
    background-color: #420000bc;
    padding: 10px;
    height: 100%;
    color: #ffc6c6;
    text-align: center;
}

.info__style {
    background-color: #420000c6;
    padding-top: 15px;
}

.info__style img {
    width: 30px;
}

#p2 {
    font-size: 19px;
}

@media (max-width: 720px) {
    .info_envios {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        
    }
    
    .info__style {
        background-color: #420000c6;
        padding: 20px;
        width: 700px;
        margin: 1px;
    }

    #p2 {
        font-size: 17px;
    }
    
}


.section2 {
    background-color:#ffc6c67a;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.carousel-item {
    width: 500px;
}

.destacado {
    background-color:#ffffff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2 {
    color: #420000;
    font-weight: 800;
    padding: 30px;
    padding-top: 50px;
    text-align: center;
    font-family: "inkfree"; 
}

.destacado img {
    width: 400px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px 10px #ffc6c6a8;
    border-radius: 20px;
}

@media (max-width: 720px) {
    .destacado img {
        width: 290px;
        box-shadow: 0px 0px 10px 10px #ffc6c6a8;
    }

    h2 {
        font-size: 22px;
    }
}

/*css de productos*/

.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.productos__container {
    text-align: center;
    width: 300px;
    margin: 50px;
}

.productos__espaciado {
    margin-bottom: 100px;
}

.productos__container img {
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #ffc6c6a8;
}

.productos__info p {
    color: #420000;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    margin: 0;
}

.productos__precio p {
    color: #420000;
    font-weight: 500;
    margin-bottom: 5px;
}

.productos__button {
    background-color: #420000c6;
    padding: 0 15px;
}

/*css de contacto*/

.contactate {
    background-image: url(../img/decoracion.png);
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
}

.contactate p {
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
    font-family: "mellyhonney";
    font-size: 50px;
}

.formulario {
    display: grid;
    grid-template-areas: 
    "nombre nombre"
    "email email"
    "numero numero"
    "mensaje fecha"
    "mensaje pregunta"
    "boton boton";
    grid-template-columns: 300px 300px;
    row-gap: 30px;
    margin: 80px 0;
    justify-content: center;
}

.formulario__centro {
    justify-self: center;
}

.formulario__estilo {
    width: 500px;
    height: 40px;
    background-color: #ffc6c67a;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #dbaaaa7a;
    padding: 20px;
    color: #420000;
}

.formulario__mensaje--estilo {
    width: 195px;
    background-color: #ffc6c67a;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #dbaaaa7a;
    border: 0;
    padding: 20px;
    color: #420000;
}

.radio {
    accent-color: #420000;
}

.formulario__pregunta {
    color: #420000;
}

.formulario__nombre {
    grid-area: nombre;
}

.formulario__email {
    grid-area: email;
}

.formulario__numero {
    grid-area: numero;
}

.formulario__mensaje {
    grid-area: mensaje;
}

.formulario__fecha {
    grid-area: fecha;
}

.formulario__pregunta {
    grid-area: pregunta;
}

.formulario__button {
    grid-area: boton;
    background-color: #dc2f35;
    color: #ffffff;
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 50%;
}

/*footer*/

.footer {
    background-color:#420000c6;
    height: auto;
    color:#ffc6c6;
    font-size: 20px;
    padding: 40px;
}

.arrow {
    border-radius: 50%;
    border: 1px solid #ffc6c6;
    padding: 15px;
    width: 70px;
}

.footer--p {
    font-size: 15px;
    margin: 0;
}

.apartado {
    margin-top: 20px;
}

#redes {
    padding: 5px;
}

@media (max-width: 720px) {
    .footer__info {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        row-gap: 10px;
    }

    .footer__info--div {
        justify-self: center;
        width: 200px;
    }

    .privacidad {
        padding: 20px;
    }

    #redes {
        padding-top: 20px;
    }

}