
/*contacto*/

.contactate {
  background-image: url(../../assets/img/decoracion.png);
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #ffffff;
  padding-top: 40px;
  font-family: $title-font;
  font-size: 50px;
}

@media (max-width: 720px) {
  .contactate {
    font-size: 35px;
    padding-top: 40px;
  }
}

.formulario {
  display: grid;
  grid-template-areas: 
  "nombre apellido" 
  "email email" 
  "numero numero" 
  "pregunta pregunta" 
  "boton boton";
  grid-template-columns: 300px 300px;
  row-gap: 30px;
  margin: 80px 0;
  justify-content: center;

  &__centro {
    justify-self: center;
  }

  @mixin contacto-estilo {
    background-color: #ffc6c67a;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #dbaaaa7a;
    
    color: $primary-color;
  }

  &__estilo {
    width: 500px;
    height: 40px;
    padding: 20px;
    @include contacto-estilo;
  }

  &__separado--estilo {
    width: 195px;
    padding: 12px;
    @include contacto-estilo;
  }

  &__pregunta {
    color: $primary-color;
  }

  &__nombre {
    grid-area: nombre;
  }

  &__apellido {
    grid-area: apellido;
  }

  &__email {
    grid-area: email;
  }

  &__numero {
    grid-area: numero;
  }

  &__pregunta {
    grid-area: pregunta;
  }

  &__button {
    grid-area: boton;
  }

  &__button__style {
    background-color: $secondary-color;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    border: 0;
    width: 100px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 15px;
    background: rgb(255,198,198);
    background: rgb(255,198,198);
    background: linear-gradient(180deg, rgba(255,198,198,0.9375) 0%, rgba(220,47,54,0.9236111111111112) 37%, rgba(112,0,0,0.9259259259259259) 100%);
    transition: all .3s;

    &:hover {
      width: 125px;
      height: 65px;
      font-size: 25px;
      background-image: none;
      color: $secondary-color;
      border: 3px solid $secondary-color;
    }
  }
}

.radio {
  accent-color: $primary-color;
}

@media (max-width: 720px) {
  .formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

    &__estilo {
      width: 330px;
      padding: 20px;
    }

    &__mensaje--estilo {
      width: 330px;
      padding: 15px;
    }

    &__pregunta {
      text-align: center;
    }

    &__button {
      align-self: center;
    }
  }
}