.main-historial {
    min-height: 700px;
    background-color: #ffc6c67a;
}

.margin-top-footer {
    margin-top: 0;
}

.contenedor-historial {
    background-color: white;  
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.busqueda-historial {
    margin: 2rem 0;
}

.buscar-historial {
    width: 470px;
    border-radius: 10px;
    border: 2px solid #ffc6c67a;
    padding: 2px;

    &:hover {
        border: 2px solid #420000bc;
    }
}

.boton-historial {
    border: transparent;
    background-color: #ffc6c67a;
    color: #420000bc;
    padding: 3px;
    border-radius: 5px;

    &:hover {
        background-color: #420000bc;
        color: white;
    }
}

.tabla-historial {
    width: 800px;
    border-collapse: collapse;
}

.tabla-historial-encabezado{
    color: #420000bc;
}

.tabla-historial-tr th{
    font-size: 13px;
    font-weight:400;
    color: #dc2f36;   
}

th, td {
  border: 2px solid rgb(255, 253, 253) ;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2a3;
}