
/*productos*/

.aviso-agregado {
  border-radius: 10px;
  background: linear-gradient(to right, #420000, #ffc6c6);
}

.carrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 40px;
}

.btn-carrito {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid $tertiary-color;
  padding: 5px;
  display: flex;
  transform: translate(0px, -65px);
}

.btn-carrito-style {
  width: 35px
}

.productos {
  @include containers-row;

  &__container {
    text-align: center;
    width: 300px;
    margin: 90px;
  }

  &__container img {
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #ffc6c67a;
  }

  &__info p {
    color: $primary-color ;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    margin: 0;
  }

  &__precio p {
    color: $primary-color;
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__button {
    background-color: #420000bc;
    padding: 2px 15px;
    border: 0;
    border-radius: 18px;

    &:hover {
      background-color: #ffc6c67a;
      color: $primary-color;
      border: 0;
      transition: .5s;
    }
  }
}

.footer-productos {
  margin-top: 5rem;
}

@media (max-width: 720px) {
  .productos {
    &__container {
      margin: 20px;
    }
  }
}