.main-realizarCompra {
    background-color: #ffc6c67a;
    padding-top: 1rem;
}

.realizarCompra-container {
    background-color: white;  
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.compra-titulo {
    padding-top: 20px;
    text-align: center;
    padding-top: 3rem;
}

.compra-subtitulo {
    text-align: center;
    color: #420000bc;
}

.metodos-pago {
    background-color: #ffc6c67a;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px #dbaaaa7a;
    padding: 6px;
    color: rgba(0, 0, 0, 0.612);
    text-align: center;
    margin-left: 57.5px;
    margin-bottom: 20px;
}
