* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/*fonts*/
@font-face {
  font-family: "inkfree";
  src: url(../../assets/fonts/inkfree.TTF);
}
@font-face {
  font-family: "mellyhonney";
  src: url(../../assets/fonts/mellyhonney.otf);
}
/*variables*/
/*scroll*/
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: rgba(198, 198, 198, 0.535);
}
body::-webkit-scrollbar-thumb {
  background-color: #420000;
}

/*header*/
header {
  width: 100%;
  background-image: url(../../assets/img/fondomian.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .inicio {
  height: 500px;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo img {
  width: 90px;
  margin-left: 20px;
}
nav .bar-btn {
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
}
nav .nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(66, 0, 0, 0.737254902);
  text-align: center;
  transition: all 0.5s;
  z-index: 3;
}
nav .nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
}
nav .nav-menu li a {
  color: #ffc6c6;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}
nav .nav-menu li a.active, nav .nav-menu li a:hover {
  color: #420000;
  transition: 0.3s;
}
nav #check {
  display: none;
}
nav #check:checked ~ .nav-menu {
  height: 100vh;
}
nav #check:checked ~ .nav-menu li {
  display: block;
}

@media (min-width: 720px) {
  nav {
    height: 80px;
  }
  nav .logo {
    margin-left: 50px;
    margin-bottom: 5px;
  }
  nav .logo img {
    width: 100px;
  }
  nav .bar-btn {
    display: none;
  }
  nav .nav-menu {
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }
  nav .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
    padding-top: 10px;
  }
  nav .nav-menu li a {
    font-size: 15px;
    color: #dc2f36;
  }
}
h1 {
  text-align: center;
  color: #420000;
  padding-top: 140px;
  font-family: "mellyhonney";
  font-size: 150px;
  font-weight: 100;
}

h2 {
  color: #dc2f36;
  font-family: "inkfree";
  font-size: 35px;
  text-align: center;
  font-weight: 800;
}

@media (max-width: 720px) {
  h1 {
    font-size: 115px;
    padding-top: 80px;
  }
  h2 {
    font-size: 25px;
  }
}
/*header de paginas secundarias*/
.nav__otras-paginas {
  background-image: none;
  background-color: rgba(255, 198, 198, 0.4784313725);
}

.miniheader {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.miniheader li {
  padding-top: 30px;
  color: #420000;
}
.miniheader li a {
  text-decoration: none;
  color: #dc2f36;
}
.miniheader li a:hover {
  color: #ffc6c6;
}
.miniheader__info::after {
  content: "/";
  padding: 10px;
}
.miniheader__titulo {
  padding-top: 5px;
}

/*main*/
.info__envios {
  background-color: rgba(66, 0, 0, 0.737254902);
  padding: 10px;
  height: 100%;
  color: #ffc6c6;
  text-align: center;
}
.info__style {
  background-color: rgba(66, 0, 0, 0.737254902);
  padding-top: 15px;
}
.info__style img {
  width: 30px;
}
.info #p2 {
  font-size: 19px;
}

@media (max-width: 720px) {
  .info__style {
    background-color: rgba(66, 0, 0, 0.737254902);
    padding: 20px;
    width: 700px;
    margin: 1px;
  }
  .info #p2 {
    font-size: 17px;
  }
}
.diapositivas {
  background-color: rgba(255, 198, 198, 0.4784313725);
  padding: 15px;
}

@media (max-width: 720px) {
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 15px;
  }
  .carousel-indicators button {
    width: 15px !important;
    height: 1px !important;
  }
}
.destacado {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.destacado img {
  width: 400px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px 10px rgba(255, 198, 198, 0.4784313725);
  border-radius: 20px;
}

h3 {
  color: #420000;
  font-weight: 800;
  padding: 30px;
  padding-top: 50px;
  text-align: center;
  font-family: "inkfree";
}

@media (max-width: 720px) {
  .destacado img {
    width: 290px;
    box-shadow: 0px 0px 5px 5px rgba(255, 198, 198, 0.4784313725);
  }
  h3 {
    font-size: 22px;
  }
}
/*footer*/
.footer {
  background-color: rgba(66, 0, 0, 0.737254902);
  height: auto;
  color: #ffc6c6;
  font-size: 20px;
  padding: 40px;
}
.footer__arrow {
  border-radius: 50%;
  border: 2px solid #ffc6c6;
  padding: 15px;
  width: 70px;
}
.footer__p {
  font-size: 15px;
  margin: 0;
}
.footer .apartado {
  margin-top: 20px;
}
.footer #redes {
  padding: 5px;
}
.footer a {
  text-decoration: none;
}

@media (max-width: 720px) {
  .footer__info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }
  .footer__info--div {
    justify-self: center;
    width: 200px;
  }
  .footer .privacidad {
    padding: 20px;
  }
  .footer #redes {
    padding-top: 20px;
  }
}
/*mixins*/
/*imports*/
/*productos*/
.aviso-agregado {
  border-radius: 10px;
  background: linear-gradient(to right, #420000, #ffc6c6);
}

.carrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 40px;
}

.btn-carrito {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #ffc6c6;
  padding: 5px;
  display: flex;
  transform: translate(0px, -65px);
}

.btn-carrito-style {
  width: 35px;
}

.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.productos__container {
  text-align: center;
  width: 300px;
  margin: 90px;
}
.productos__container img {
  border-radius: 15px;
  box-shadow: 0px 0px 5px 5px rgba(255, 198, 198, 0.4784313725);
}
.productos__info p {
  color: #420000;
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
  margin: 0;
}
.productos__precio p {
  color: #420000;
  font-weight: 500;
  margin-bottom: 5px;
}
.productos__button {
  background-color: rgba(66, 0, 0, 0.737254902);
  padding: 2px 15px;
  border: 0;
  border-radius: 18px;
}
.productos__button:hover {
  background-color: rgba(255, 198, 198, 0.4784313725);
  color: #420000;
  border: 0;
  transition: 0.5s;
}

.footer-productos {
  margin-top: 5rem;
}

@media (max-width: 720px) {
  .productos__container {
    margin: 20px;
  }
}
/*muestras*/
.muestras__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.muestras__img img {
  margin: 40px;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px rgba(255, 198, 198, 0.4784313725);
  transition: 0.3s linear;
}
.muestras__img img:hover {
  box-shadow: 10px 10px 14px 2px #420000;
}
.muestras__espaciado {
  margin-bottom: 100px;
}

@media (max-width: 720px) {
  .muestras__container {
    margin: 5px;
  }
  .muestras__espaciado {
    margin-bottom: 5px;
  }
  .muestras__espaciado--ultimo {
    margin-bottom: 100px;
  }
}
/*sobre mi*/
.container {
  background-color: rgba(255, 198, 198, 0.4784313725);
}
.container .titulo-quiensoy {
  margin-top: 50px;
}
.container .quiensoy__texto, .container .vision__texto {
  text-align: center;
  color: #420000;
  font-size: 18px;
  text-shadow: 0 0 35px #420000;
  padding: 0 80px;
  margin-top: 25px;
}
.container .quiensoy__img img {
  width: 251px;
  border-radius: 15px;
  box-shadow: 0 0 10px 10px rgba(66, 0, 0, 0.737254902);
}
.container .vision__texto {
  margin-bottom: 80px;
  margin-top: 0px;
}
.container .valores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container .valores__texto {
  background-color: rgba(66, 0, 0, 0.737254902);
  padding: 10px;
  color: #ffffff;
  text-align: center;
  width: 200px;
  margin: 0 80px;
  margin-bottom: 100px;
  box-shadow: 0 0 5px 5px rgba(255, 198, 198, 0.4784313725);
  border-radius: 15px;
}

@media (max-width: 720px) {
  .container {
    background-color: #ffffff;
  }
  .container .quiensoy__texto, .container .vision__texto {
    font-size: 15px;
    text-shadow: 0 0 45px #420000;
    padding: 0 16px;
    margin-top: 25px;
    text-align: justify;
  }
  .container .quiensoy__img img {
    width: 100px;
    box-shadow: 0 0 5px 5px rgba(66, 0, 0, 0.737254902);
    margin-top: 80px;
  }
  .container .vision__texto {
    margin-top: 0px;
    padding: 0 50px;
    margin-bottom: 20px;
  }
  .container .valores__texto {
    text-align: center;
    width: 130px;
    margin: 0 15px;
    margin-bottom: 25px;
    font-size: 15px;
  }
  .container .valores__titulo {
    color: #ffc6c6;
  }
  .container .valores__texto--espaciado {
    margin-bottom: 100px;
  }
}
/*contacto*/
.contactate {
  background-image: url(../../assets/img/decoracion.png);
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #ffffff;
  padding-top: 40px;
  font-family: "mellyhonney";
  font-size: 50px;
}

@media (max-width: 720px) {
  .contactate {
    font-size: 35px;
    padding-top: 40px;
  }
}
.formulario {
  display: grid;
  grid-template-areas: "nombre apellido" "email email" "numero numero" "pregunta pregunta" "boton boton";
  grid-template-columns: 300px 300px;
  row-gap: 30px;
  margin: 80px 0;
  justify-content: center;
}
.formulario__centro {
  justify-self: center;
}
.formulario__estilo {
  width: 500px;
  height: 40px;
  padding: 20px;
  background-color: rgba(255, 198, 198, 0.4784313725);
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(219, 170, 170, 0.4784313725);
  color: #420000;
}
.formulario__separado--estilo {
  width: 195px;
  padding: 12px;
  background-color: rgba(255, 198, 198, 0.4784313725);
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(219, 170, 170, 0.4784313725);
  color: #420000;
}
.formulario__pregunta {
  color: #420000;
}
.formulario__nombre {
  grid-area: nombre;
}
.formulario__apellido {
  grid-area: apellido;
}
.formulario__email {
  grid-area: email;
}
.formulario__numero {
  grid-area: numero;
}
.formulario__pregunta {
  grid-area: pregunta;
}
.formulario__button {
  grid-area: boton;
}
.formulario__button__style {
  background-color: #dc2f36;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  width: 100px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 60px;
  border-radius: 15px;
  background: rgb(255, 198, 198);
  background: rgb(255, 198, 198);
  background: linear-gradient(180deg, rgba(255, 198, 198, 0.9375) 0%, rgba(220, 47, 54, 0.9236111111) 37%, rgba(112, 0, 0, 0.9259259259) 100%);
  transition: all 0.3s;
}
.formulario__button__style:hover {
  width: 125px;
  height: 65px;
  font-size: 25px;
  background-image: none;
  color: #dc2f36;
  border: 3px solid #dc2f36;
}

.radio {
  accent-color: #420000;
}

@media (max-width: 720px) {
  .formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
  .formulario__estilo {
    width: 330px;
    padding: 20px;
  }
  .formulario__mensaje--estilo {
    width: 330px;
    padding: 15px;
  }
  .formulario__pregunta {
    text-align: center;
  }
  .formulario__button {
    align-self: center;
  }
}
.main-carrito {
  background-color: rgba(255, 198, 198, 0.4784313725);
  padding-bottom: 9rem;
  padding-top: 1rem;
  min-height: 700px;
}

.carrito-container {
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.carrito-titulo {
  padding-top: 20px;
  text-align: left;
  margin-left: 20px;
}

.carrito-vacio, .carrito-comprado {
  color: rgba(66, 0, 0, 0.737254902);
  text-align: center;
  margin-top: 3rem;
  font-size: 20px;
}

.carrito-productos {
  display: flex;
  flex-direction: column;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: right;
  background-color: rgb(233, 233, 233);
  padding: 0.5rem;
  border-radius: 1rem;
  color: #420000;
  margin: 20px;
}

.carrito-producto-titulo {
  width: 200px;
}

.carrito-producto-imagen {
  width: 6rem;
  border-radius: 1rem;
}

.carrito-eliminar {
  color: #dc2f36;
  border: none;
  background-color: transparent;
  padding-right: 1rem;
  width: 20px;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.carrito-accion-vaciar {
  border: none;
  background-color: rgb(233, 233, 233);
  padding: 10px;
  border-radius: 10px;
  color: #420000;
  text-transform: uppercase;
  margin-left: 20px;
}

.carrito-accion-derecha {
  display: flex;
}

.carrito-accion-total {
  display: flex;
  background-color: rgb(233, 233, 233);
  padding: 10px;
  color: #420000;
  text-transform: uppercase;
  border-radius: 1rem;
  height: 44px;
  gap: 1rem;
  margin-right: 20px;
}

.carrito-accion-total-iva {
  display: flex;
  background-color: rgba(255, 198, 198, 0.4784313725);
  padding: 10px;
  color: #dc2f36;
  text-transform: uppercase;
  border-radius: 1rem;
  height: 44px;
  gap: 1rem;
  margin-right: 20px;
}

.carrito-realizar-compra {
  border: none;
  background-color: #420000;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  border-radius: 1rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}

.oculto {
  display: none;
}

.main-realizarCompra {
  background-color: rgba(255, 198, 198, 0.4784313725);
  padding-top: 1rem;
  min-height: 700px;
}

.realizarCompra-container {
  background-color: white;
  border-radius: 2rem;
}

.compra-titulo {
  padding-top: 20px;
  text-align: center;
  padding-top: 3rem;
}/*# sourceMappingURL=style.css.map */